.sidepanel {
    width: inherit;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(239 239 239);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);

    .content-entries {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-top: 20px;
        font-size: large;
    }

    .content-entry {
        margin-bottom: 20px;
        cursor: pointer;

        &:hover {
            font-weight: 700;
            transform: scale(1.05);
        }
    }

    .button-container {
        height: 35px;
        width: inherit;
    }
}