.editor-container {
    display: flex;
    position: relative;
    justify-content: center;
    top: 50px;
    width: 100%;
    padding-left: 30px;

    .editor {
        height: 100vh;
        width: 80%;
        align-items: center;
    }
}